{% extends "home.html" %}
{% block content %}
	<form action="/action_page.php" method="post">
		Movie Title:<br>
		<input type="text" name="primarytitle"><br>
		<input type="submit" value="Submit">
	</form>
	<form action="/action_page.php" method="post">
		Movie Year:<br>
		<input type="text" name="movieyear"><br>
		<input type="submit" value="Submit">
	</form>
	<form action="/action_page.php" method="post">
		Movie Genre:<br>
		<input type="text" name="moviegenre"><br>
		<input type="submit" value="Submit">
	</form>
	<form action="/action_page.php" method="post">
                Actor/Actress:<br>
                <input type="text" name="actor/actress"><br>
                <input type="submit" value="Submit">
        </form>
	<form action="/action_page.php" method="post">
                Director:<br>
                <input type="text" name="director"><br>
                <input type="submit" value="Submit">
        </form>
{% endblock %}
