{% extends "home.html" %}
{% block content %}
	<form action="/action_page.php" method="post">
		Movie Title:<br>
		<input type="text" name="title"><br>
		<input type="submit" value="Submit">
	</form>
	<form action="/action_page.php" method="post">
		Movie Year:<br>
		<input type="text" name="year"><br>
		<input type="submit" value="Submit">
	</form>
	<form action="/action_page.php" method="post">
		Movie Genre:<br>
		<input type="text" name="genre"><br>
		<input type="submit" value="Submit">
	</form>
	<form action="/action_page.php" method="post">
                Movie Director:<br>
                <input type="text" name="director"><br>
                <input type="submit" value="Submit">
        </form>
{% endblock %}
