{% extends "home.html" %}
{% block content %}
	<form action="/moviesInfo" method="post">
		Movie Title:<br>
		<input type="text" name="title"><br>
		<input type="submit" value="Submit">
	</form>
	<form action="/moviesInfo" method="post">
		Movie Year:<br>
		<input type="text" name="year"><br>
		<input type="submit" value="Submit">
	</form>
	<form action="/movies" method="post">
		Movie Genre:<br>
		<input type="text" name="genre"><br>
		<input type="submit" value="Submit">
	</form>
	<form action="/movies" method="post">
                Movie Director:<br>
                <input type="text" name="director"><br>
                <input type="submit" value="Submit">
        </form>
	<form action="/rating" method="post">
                Movie Rating:<br>
                <input type="number" step="0.1" name="rating" min="0" max="10"><br>
                <input type="submit" value="Submit">
        </form>
{% endblock %}
